* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
}

.combined-50 {
    display: flex;
}

.settings-bar {
    background-color: #aaeaff;
    width: 30vw;
}

.parsing-bar {
    background-color: #8fd19e;
    width: 60vw;
}

.settings-bar, .parsing-bar {
    padding: 20px;
}

.parsing-bar .form-field textarea {
    width: 100%;
    height: 150px;
}
.parsing-bar .form-field label {
    text-align: left;
    display: block;
}

.form-field {
    padding: 5px 0;
}

.form-field label {
    display: inline-block;
    padding: 5px;
    width: 7vw;
    text-align: right;
}

.form-field input {
    display:inline-block;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid;
    width: 89vw;
    font-size: 1rem;
}

.account-info {
    border-collapse: collapse;
    border: 2px solid #ABABAB;
}

.account-info td {
    border: 2px solid #ABABAB;
    padding: 15px;
    font-size: 1.2rem;
}

.csp-form {
    padding: 15px 0;
    border: 1px solid #ABABAB;
}

.fields-wrapper {
    height: 45vh;
    overflow-y: scroll;
    padding: 0 15px;
    margin-bottom: 15px;
}

.buttons {
    padding-left: 25px;
}