body {
    background: #000 url('../img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}

.container {
    padding: 10px;
    overflow: hidden;
}

a {
    color: #fff;
}

.hidden {
    display: none;
}

#lp_account, #lp_username {
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
}

#lp_account {
    background: url('../img/group-14.png') no-repeat scroll 7px 11px;
}

#lp_username {
    background: url('../img/group-15.png') no-repeat scroll 8px 11px;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#lp_btn_login, #lp_btn_inject {
    height: 40px;
    border-radius: 20px;
    object-fit: contain;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    outline: none;
    border: none;
}

#lp-form {
    height: 362px;
    box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
    background-color: #ffffff;
    margin-top: -20px;
    z-index: 2;
    position: relative;
    padding: 50px;
}

#environment, #username, .checkbox-label {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4a4a4a;
}

#log-version {
    font-family: Roboto, serif;
    font-size: 10px;
    font-weight: bold;
    color: #4a4a4a;
    padding-top: 15px;
}

#web-message-ex-top {
    height: 94.6px;
    border-radius: 24px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#web-message-ex {
    margin-top: 20px;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: left;
}

#lp-info {
    height: 362px;
    box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
    background-color: #ffffff;
    margin-top: -20px;
    margin-left: -10px;
    z-index: 2;
    position: absolute;
    text-align: center;
}

#lp-info #window-icon {
    height: 60px;
    object-fit: contain;
    margin-top: 40px;
}

#This-is-where-you-ar {
    padding: 0 50px;
    margin-top: 20px;
    height: 72px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #4a4a4a;
}

#powered-by {
    margin-top: 10px;
}

#bottom-divider {
    height: 11.6px;
    opacity: 0.1;
    background-color: #000000;
    z-index: 2;
    position: relative;
}

#account_setup {
    margin-top: -30px;
    height: 94.6px;
    border-radius: 24px;
}

.lp_lnk_setup {
    margin-top: 50px;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2.45px;
    text-align: center;
    color: #ffffff;
}

#embedded-engagement-header {
    margin-top: 10px;
    padding: 20px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2.45px;
    color: #ffffff;
}

#embedded-engagement-footer {
    padding: 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: white;
    color: #4a4a4a;
}

#lp-embedded-engagement {
    border: 1px solid #cccccc;
    min-height: 50px;
}

.modal-setup {
    border-radius: 24px;
}

.modal-title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.modal-description-text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 1.71;
    color: #ffffff;
}

.Authentication-Endpo, .Token-Endpoint, .JS-method-name, .JS-context, .JWT {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.Rectangle {
    height: 30px;
    opacity: 0.5;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    color: #000;
    font-size: 10px;
    word-wrap: break-word;
}

#Rectangle-pub {
    opacity: 0.5;
    border-radius: 4px;
    background-color: #ffffff;
    height: 150px;
}

#pub-key {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    color: #000000;
    text-align: left;
    word-wrap: break-word;
    padding: 5px;
}

.copy {
    opacity: 0.5;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 2.18px;
    color: #ffffff;
}

.alpha-page #web-message-ex-top {
    background-color: #6f42c1;
}

.alpha-page #lp_btn_login,
.alpha-page #lp_btn_inject {
    background-color: #6f42c1;
}

.alpha-page #account_setup,
.alpha-page .modal-setup,
.alpha-page #embedded-engagement-header {
    background-image: linear-gradient(314deg, #2c1e3e, #4a2f6c, #6f42c1);
}

.ga-page #web-message-ex-top {
    background-color: #28a745;
}

.ga-page #lp_btn_login,
.ga-page #lp_btn_inject {
    background-color: #28a745;
}

.ga-page #account_setup,
.ga-page .modal-setup,
.ga-page #embedded-engagement-header {
    background-image: linear-gradient(314deg, #5a8f7b, #6c757d, #28a745);
}

.qa-page #web-message-ex-top {
    background-color: #32c6f4;
}

.qa-page #lp_btn_login,
.qa-page #lp_btn_inject {
    background-color: #32c6f4;
}

.qa-page #account_setup,
.qa-page .modal-setup,
.qa-page #embedded-engagement-header {
    background-image: linear-gradient(314deg, #9153f3, #36bff0, #32c6f4);
}
