body {
    background: #000 url('../img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}

.container {
    padding: 10px;
    overflow: hidden;
}

#lp_account {
    background: url('../img/group-14.png') no-repeat scroll 7px 11px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    /*background-color: #f9f9f9;*/
}

#lp_username {
    background: url('../img/group-15.png') no-repeat scroll 8px 11px;
    /*width: 291px;*/
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    /*background-color: #f9f9f9;*/
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#lp_btn_login, #lp_btn_inject {
    /*width: 291px;*/
    height: 40px;
    border-radius: 20px;
    background-color: #32c6f4;
    object-fit: contain;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    outline: none;
}

#lp_form #AccountNo {
    margin-left: 56px;
    width: 65px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

.Username {
    width: 55px;
    height: 15px;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

.Update {
    width: 52px;
    height: 13px;
    font-family: SFUIText;
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
}

#bottom-divider {
    width: 800px;
    height: 11.6px;
    opacity: 0.1;
    background-color: #000000;
    z-index: 2;
    position: relative;
}

#account_setup {
    margin-top: -30px;
    height: 94.6px;
    border-radius: 24px;
    background-image: linear-gradient(314deg, #9153f3, #36bff0, #32c6f4);
}

.modal-setup {
    /*width: 600px;*/
    border-radius: 24px;
    background-image: linear-gradient(349deg, #9153f3, #36bff0, #32c6f4);
}

.lp_lnk_setup {
    margin-top: 50px;
    width: 170px;
    height: 11px;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.45px;
    text-align: center;
    color: #ffffff;
    z-index: 0;
    position: absolute;
}


#lp-form {
    /*width: 400px;*/
    height: 362px;
    box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
    background-color: #ffffff;
    margin-top: -20px;
    z-index: 2;
    position: relative;
    padding: 50px;
}

#environment {
    width: 65px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

#username {
    width: 55px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

.checkbox-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

.checkbox-field, .checkbox-field {
    vertical-align: middle;
}

#log-version {
    /*width: 55px;*/
    height: 15px;
    font-family: Roboto, serif;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 15px;
}

::placeholder {
    width: 124px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #c8c8c8;
}

#lp-info {
    height: 362px;
    box-shadow: 0 5px 10px 0 rgba(131, 146, 167, 0.2);
    background-color: #ffffff;
    margin-top: -20px;
    margin-left: -10px;
    z-index: 2;
    position: absolute;
}

#lp-info #ORG_LP_LOGO_Orange_RGB {
    /*width: 189.6px;*/
    height: 30px;
    background-color: #aaaaae;
}

#lp-info #window-icon {
    /*width: 81px;*/
    height: 60px;
    object-fit: contain;
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 50px;
}

#lp-info #window-preview {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#This-is-where-you-ar {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 72px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

#powered-by {
    /*margin-top: 20px;*/
    margin-right: 40px;
    margin-left: 85px;
}

#embedded-engagement-header {
    margin-top: 10px;
    padding: 20px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-image: linear-gradient(314deg, #9153f3, #36bff0, #32c6f4);

    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.45px;
    color: #ffffff;
}

#embedded-engagement-footer {
    padding: 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: white;
}

#embedded-engagement-footer, p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

#lp-embedded-engagement {
    border: 1px solid #cccccc;
    min-height: 50px;
}

#web-message-ex-top {
    /*width: 800px;*/
    height: 94.6px;
    border-radius: 24px;
    background-color: #32c6f4;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#web-message-ex {
    margin-top: 20px;
    /*margin-left: 10px;*/
    width: 450px;
    height: 41px;
    object-fit: contain;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}

#info-form {
    width: 800px;
}

.modal-body {
    /*padding-top: 30px;*/
}

#close-button {
    padding-right: 7px;
}

.modal-title {
    /*width: 119px;*/
    height: 24px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

.modal-description-text {
    width: 429px;
    height: 48px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
}

.Authentication-Endpo {
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    /*text-align: left;*/
    /*margin: 10px 120px 10px -60px;*/
    margin-right: 30px;
}

.Rectangle {
    /*margin-left: 20px;*/
    /*width: 220px;*/
    height: 30px;
    opacity: 0.5;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.vw-lpgithub {
    /*width: 190px;*/
    height: 15px;
    font-family: Roboto, serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    padding-left: 5px;
    /*padding-top: 5px;*/
}

.JS-method-name {
    width: 92px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 68px;
}

.LPJsMethodName {
    width: 84px;
    height: 15px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    padding-left: 5px;
    padding-top: 5px;
}

.Token-Endpoint {
    width: 85px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    margin-right: 76px;
}

.vw-idplivepe {
    /*width: 195px;*/
    height: 15px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    padding-left: 5px;
    padding-top: 5px;
}

.JS-context {
    width: 58px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 102px;
}

.LPJsContext {
    width: 57px;
    height: 15px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
}

.JWT {
    width: 131px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 78px;
    /*margin-left: -165px;*/
}

#pub-key {
    height: 45px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
    border-radius: 4px;
    background-color: #ffffff;
    word-wrap: break-word;
    padding: 5px;
}

#Rectangle-pub {
    opacity: 0.5;
    border-radius: 4px;
    background-color: #ffffff;
    height: 150px;
}

.copy {
    /*width: 33px;*/
    /*height: 10px;*/
    opacity: 0.5;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.18px;
    text-align: center;
    color: #ffffff;
    /*margin-bottom: 5px;*/
}

.modal-close {
    width: 170px;
    height: 11px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.45px;
    text-align: right;
    color: #ffffff;
    z-index: 0;
    position: fixed;
}

section .feature {
    color: rgb(231, 201, 0);
}

footer {
    position: static;
    bottom: 5%;
    color: #fff;
    font-size: 0.8em;
}

footer {
    right: 5%;
}

footer .credit {
    padding: 0.5em;
}

a {
    color: #fff;
}

.hidden {
    display: none;
}

/**
    SPA styles
 */
.spa-wrapper .field-title {
    width: 65px;
    height: 15px;
    font-family: Roboto Arial serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}
.spa-wrapper #lp-form {
    padding: 5px 50px;
}
.spa-wrapper #environment-select{
    border-radius: 20px;
    cursor: pointer;
}

/*@media only screen and (max-width: 768px) {*/
/*section {*/
/*font-size: 2em;*/
/*}*/
/*footer {*/
/*opacity: 0.5;*/
/*}*/
/*}*/
